body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  align-items: center;
}

a {
  color: #4ef009;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  margin-top: 10px;
}

h1 {
  text-emphasis: bold;
  text-align: center;
  color: hotpink;
  font-size: 50px;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: hotpink;
  
}
	
li {
  list-style: none;
}